<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-UFV09UF\SQL_SERVER_2012;Initial Catalog=Test1DB;Integrated Security=True" />
  </appSettings>
</configuration>